.contentContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
}

.headingContainer {
  margin: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeading {
  font-size: 5rem;
  color: #121923;
  font-weight: bold;
}

.subheading {
  margin: 4rem 0 3rem 0;
  font-weight: 300;
  font-size: 1.5rem;
  color: #515e72;
}

.btnContainer {
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 1rem;
  border-radius: 5px;
}

.startBtn {
  background-color: #1e63d0;
  color: #fff;
}

.docsBtn {
  border: 1px solid #cad1dc;
}